<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Times"             value="Second"/>    <!--Second,Minute,Hour,Day,Week -->
    <add key="BackupInterval"    value= "1"/>
    <add key="BackupCount"       value= "2"/>
    <add key="TwoWeekInterval"   value= "14"/>
    <add key="TwoWeekCount"      value= "1"/>
    <add key="OneWeekInterval"   value= "7"/>
    <add key="OneWeekCount"      value= "4"/>
    <add key="ThreeDaysInterval" value= "3"/>
    <add key="ThreeDaysCount"    value= "4"/>
  </appSettings>
</configuration>